// Darks
$D1: #303030;
$D2: #505050;
$D3: #757575;
$D4: #BBBBBB;
$D5: #DBDBDB;
// Colors
$C1: #614BF2;
$C2: #705CF2;
$C3: #9080F2;
$C4: #ADA2F2;
$C5: #F2F2F2;
// Apple
$AppleGreen: #00CA4E;
$AppleYellow: #FFBD44;
$AppleRed: #FF605C;
// Warning Color
$WarningColor: #FF7900;
// Info Color
$InfoColor: $AppleGreen;
// Error Color
$ErrorColor: #FF6347;