.Container {
    @include EditorContainer(25px, 25px);
    @include FlexRowJustifyCenter();
    align-items: center;
    .Editor {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba($C5, 0.1);
        width: AspectRatio-2-1(375px);
        height: 375px;
        border-radius: 25px;
        backdrop-filter: blur(30px);
        border: 1px solid rgba($C5, 0.25);
        z-index: 1;
        overflow: hidden;
        box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
        #Drag {
            position: absolute;
            cursor: move;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: transparent;
            z-index: 10;
        }
        .Sidebar {
            position: relative;
            width: 175px;
            height: 100%;
            user-select: none;
            .Buttons {
                @include CenterHorizontal();
                top: 15px;
                left: 25%;
                $height: 10px;
                $margin: 5px;
                height: $height;
                width: calc($height * 3 + $margin * 2);
                @include FlexRowJustifyBetween();
                div {
                    height: $height;
                    width: $height;
                    border-radius: 50%;
                    margin: 0 0px;
                    position: relative;
                    overflow: hidden;
                    @include FlexRowJustifyCenter;
                    align-items: center;
                    img {
                        position: absolute;
                        object-fit: cover;
                        opacity: 0;
                        transform: scale(0.75) translateX(-0.7px);
                        user-select: none;
                    }
                    &:hover {
                        cursor: pointer;
                        border: 1.25px solid rgba(#000, 0);
                        img {
                            opacity: 1;
                        }
                    }
                }
                #Red {
                    background: rgba($AppleRed, 1);
                    img {
                        transform: scale(0.75) translateX(0.1px);
                    }
                }
                #Yellow {
                    background: rgba($AppleYellow, 1);
                    img {
                        transform: scale(0.75) translateX(-0.55px);
                    }
                }
                #Green {
                    background: rgba($AppleGreen, 1);
                    img {
                        transform: scale(0.75) translate(-0.45px, -0.1px);
                    }
                }
            }
            .Navigation {
                position: relative;
                $height: 35px;
                width: 100%;
                height: calc($height * 3);
                @include Center();
                .Item {
                    width: 100%;
                    height: $height;
                    @include FlexRowJustifyStart();
                    align-items: center;
                    color: $C5;
                    font-size: 12px;
                    z-index: 2;
                    transition: all 300ms ease;
                    svg {
                        margin-left: 40px;
                        font-size: 18px;
                    }
                    p {
                        margin: 0;
                        margin-left: 15px;
                    }
                    &:hover {
                        color: #555;
                        cursor: pointer;
                    }
                }
                #Navigator {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: $height;
                    background-color: $C5;
                    z-index: -1;
                    transition: all 300ms ease-in-out;
                }
                #Current {
                    color: #555;
                    &:hover {
                        color: $C3;
                        cursor: default;
                    }
                }
            }
        }
        .Content {
            position: relative;
            width: calc(AspectRatio-2-1(375px) - 175px);
            height: 100%;
            background: $C5;
            @include FlexRowJustifyCenter;
            .Header {
                margin-top: 10px;
                position: absolute;
                top: 0;
                @include CenterHorizontal();
                width: 90%;
                height: 45px;
                @include FlexRowJustifyBetween;
                background-color: transparent;
                user-select: none;
                .Title {
                    height: 100%;
                    text-transform: uppercase;
                    color: $C4;
                    @include FlexRowJustifyStart;
                    h1 {
                        font-size: 14px;
                        font-weight: bold;
                        margin-right: 5px;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 100;
                    }
                }
                .Button {
                    position: relative;
                    $Padding: 15px;
                    padding: calc($Padding / 2.5) $Padding;
                    font-size: calc(12px);
                    @include FlexRowJustifyCenter;
                    background-color: $C3;
                    color: $C5;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: 900;
                    &::before {
                        content: '';
                        width: 60%;
                        height: 100%;
                        position: absolute;
                        bottom: -5px;
                        @include CenterHorizontal();
                        background-color: $C3;
                        opacity: 0.5;
                        filter: blur(50px);
                        z-index: -1;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $C2;
                        &:active {
                            background-color: $C1;
                        }
                    }
                }
            }
            .Section {
                position: relative;
                width: 90%;
                height: 82.5%;
                align-self: flex-end;
                // border: 1px solid rgba($C1, 1);
                margin-bottom: 2.5%;
                overflow-y: scroll;
                overflow-x: hidden;
                overflow: hidden;
                &::-webkit-scrollbar {
                    display: none;
                }
                .Page {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    background-color: $C1;
                }
                .Login {
                    background-color: transparent;
                }
                .Register {
                    background-color: transparent;
                }
                .Manage {
                    background-color: transparent;
                    .Head {
                        margin-top: 5px;
                        width: 100%;
                        height: 40px;
                        background-color: transparent;
                        border-bottom: 1px solid $D4;
                        font-size: 10px;
                        @include FlexRowJustifyBetween;
                        flex-grow: 1 2 2.5 2 1.2 !important;
                        >div {
                            // background-color: #555;
                            @include FlexRowJustifyStart;
                        }
                    }
                    .ID {
                        flex-grow: 1 !important;
                        background: red;
                    }
                    .Username {
                        flex-grow: 2 !important;
                        background: white;
                    }
                    .E-mail {
                        flex-grow: 2.5 !important;
                        background: blue;
                    }
                    .Password {
                        flex-grow: 2 !important;
                        background: yellow;
                    }
                    .Actions {
                        flex-grow: 1.2 !important;
                        background: rgba(0, 0, 0, 0.56)
                    }
                }
            }
        }
    }
}