.Container {
    @include EditorContainer(25px, 25px);
    @include FlexRowJustifyCenter();
    align-items: center;
    .Editor {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba($C5, 0.1);
        width: AspectRatio-2-1(375px);
        height: 375px;
        border-radius: 25px;
        backdrop-filter: blur(30px);
        border: 1px solid #adadad;
        z-index: 1;
        overflow: hidden;
        @include MacOSBoxShadow();
        #Drag {
            position: absolute;
            cursor: move;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: transparent;
            z-index: 10;
        }
        .Sidebar {
            position: relative;
            width: 175px;
            height: 100%;
            user-select: none;
            .Buttons {
                @include CenterHorizontal();
                top: 15px;
                left: 25%;
                $height: 10px;
                $margin: 5px;
                height: $height;
                width: calc($height * 3 + $margin * 2);
                @include FlexRowJustifyBetween();
                div {
                    height: $height;
                    width: $height;
                    border-radius: 50%;
                    margin: 0 0px;
                    position: relative;
                    overflow: hidden;
                    @include FlexRowJustifyCenter;
                    align-items: center;
                    img {
                        position: absolute;
                        object-fit: cover;
                        opacity: 0;
                        transform: scale(0.75) translateX(-0.7px);
                        user-select: none;
                    }
                    &:hover {
                        cursor: pointer;
                        border: 1.25px solid rgba(#000, 0);
                        img {
                            opacity: 1;
                        }
                    }
                }
                #Red {
                    background: rgba($AppleRed, 1);
                    img {
                        transform: scale(0.75) translateX(0.1px);
                    }
                }
                #Yellow {
                    background: rgba($AppleYellow, 1);
                    img {
                        transform: scale(0.75) translateX(-0.55px);
                    }
                }
                #Green {
                    background: rgba($AppleGreen, 1);
                    img {
                        transform: scale(0.75) translate(-0.45px, -0.1px);
                    }
                }
            }
            .Navigation {
                position: relative;
                $height: 35px;
                width: 100%;
                height: calc($height * 3);
                @include Center();
                .Item {
                    width: 100%;
                    height: $height;
                    @include FlexRowJustifyStart();
                    align-items: center;
                    color: $C5;
                    font-size: 12px;
                    z-index: 2;
                    transition: all 300ms ease;
                    svg {
                        margin-left: 40px;
                        font-size: 18px;
                    }
                    p {
                        margin: 0;
                        margin-left: 15px;
                    }
                    &:hover {
                        color: #555;
                        cursor: pointer;
                    }
                }
                #Navigator {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: $height;
                    background-color: $C5;
                    z-index: -1;
                    transition: all 300ms ease-in-out;
                }
                #Current {
                    color: #555;
                    &:hover {
                        color: $C3;
                        cursor: default;
                    }
                }
            }
        }
        .Content {
            position: relative;
            width: calc(AspectRatio-2-1(375px) - 175px);
            height: 100%;
            background: $C5;
            @include FlexRowJustifyCenter;
            .Header {
                margin-top: 10px;
                position: absolute;
                top: 0;
                @include CenterHorizontal();
                width: 90%;
                height: 45px;
                @include FlexRowJustifyBetween;
                background-color: transparent;
                user-select: none;
                .Title {
                    height: 100%;
                    text-transform: uppercase;
                    color: $C4;
                    @include FlexRowJustifyStart;
                    h1 {
                        font-size: 14px;
                        font-weight: bold;
                        margin-right: 5px;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 100;
                    }
                }
                .Button {
                    position: relative;
                    $Padding: 15px;
                    padding: calc($Padding / 2.5) $Padding;
                    font-size: calc(12px);
                    @include FlexRowJustifyCenter;
                    background-color: $C3;
                    color: $C5;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: 900;
                    &::before {
                        content: '';
                        width: 60%;
                        height: 100%;
                        position: absolute;
                        bottom: -5px;
                        @include CenterHorizontal();
                        background-color: $C3;
                        opacity: 0.5;
                        filter: blur(50px);
                        z-index: -1;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $C2;
                        &:active {
                            background-color: $C1;
                        }
                    }
                }
            }
            .Section {
                position: relative;
                width: 90%;
                height: 82.5%;
                align-self: flex-end;
                // border: 1px solid rgba($C1, 1);
                margin-bottom: 2.5%;
                overflow-y: scroll;
                overflow-x: hidden;
                overflow: hidden;
                &::-webkit-scrollbar {
                    display: none;
                }
                .Page {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    background-color: $C1;
                }
                .Login {
                    background-color: transparent;
                }
                .Register {
                    background-color: transparent;
                }
                .Manage {
                    position: relative;
                    background-color: transparent;
                    padding: 10px 0;
                    $height: 25px;
                    .User-Loading {
                        cursor: wait;
                        width: 100%;
                        height: 100%;
                        @include FlexRowJustifyCenter;
                        flex-direction: column;
                        .User-Loading-Text {
                            text-align: center;
                            position: relative;
                            font-size: 10px;
                            font-weight: 300;
                            color: $D4;
                            top: -15px;
                            @include FlexRowJustifyCenter();
                            flex-direction: column;
                            .button {
                                position: relative;
                                $Padding: 12.5px;
                                padding: calc($Padding / 2.5);
                                font-size: calc(12px);
                                @include FlexRowJustifyCenter;
                                background-color: $D4;
                                color: $C5;
                                border-radius: 5px;
                                text-transform: uppercase;
                                font-weight: 900;
                                font-size: 10px;
                                width: 75px;
                                margin-top: 10px;
                                svg {
                                    font-size: 14px;
                                    margin-right: 5px;
                                }
                                &::before {
                                    content: '';
                                    width: 60%;
                                    height: 100%;
                                    position: absolute;
                                    bottom: -5px;
                                    @include CenterHorizontal();
                                    background-color: $C3;
                                    opacity: 0.5;
                                    filter: blur(50px);
                                    z-index: -1;
                                }
                                &:hover {
                                    cursor: pointer;
                                    background-color: $C2;
                                    &:active {
                                        background-color: $C1;
                                    }
                                }
                            }
                        }
                    }
                    .Table {
                        width: 100%;
                        height: 100%;
                        .Head {
                            user-select: none;
                            height: $height;
                            width: 100%;
                            border-bottom: none;
                            .Row {
                                border-bottom: 1px solid $D4;
                                .Cell {
                                    color: $D4;
                                    font-size: 10px;
                                    svg {
                                        font-size: 13px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                        .Body {
                            position: relative;
                            height: calc(100% - $height);
                            width: 100%;
                            padding-top: 7.5px;
                            overflow-x: hidden;
                            overflow-y: auto;
                            scrollbar-gutter: stable;
                            // Scrollbar for the table
                            &::-webkit-scrollbar {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 5px;
                                height: 100%;
                                background-color: transparent;
                            }
                            &::-webkit-scrollbar-track {
                                background: #f1f1f1;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: $C3;
                                border-radius: 50px;
                                cursor: pointer;
                            }
                            &::-webkit-scrollbar-thumb:hover {
                                background: $C4;
                                cursor: pointer !important;
                            }
                            .Row {
                                .Cell {
                                    font-size: 10px;
                                    color: $D3;
                                    overflow-y: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow-x: scroll;
                                    flex-wrap: nowrap;
                                    &::-webkit-scrollbar {
                                        display: none;
                                    }
                                }
                                #DataID {
                                    p {
                                        font-size: 9px;
                                        color: $C5;
                                        background-color: $C4;
                                        padding: 2.5px 7.5px;
                                        border-radius: 5px;
                                        width: 25px;
                                        @include FlexRowJustifyCenter
                                    }
                                }
                                #DataActions {
                                    $Color1: $C3;
                                    $Color2: $C5;
                                    .Button {
                                        background-color: $Color1;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 5px;
                                        @include FlexRowJustifyCenter;
                                        svg {
                                            color: $Color2;
                                            font-size: 10px;
                                        }
                                        &:hover {
                                            cursor: pointer;
                                            opacity: 0.75;
                                        }
                                        &:active {
                                            opacity: 1;
                                        }
                                    }
                                    .Primary {
                                        background-color: $Color1;
                                    }
                                    .Secondary {
                                        background-color: transparent;
                                        border: 1px solid $Color1;
                                        margin-right: 5px;
                                        svg {
                                            color: $Color1;
                                        }
                                    }
                                }
                            }
                            .EditMode {
                                background-color: transparent;
                                .Editing {
                                    input {
                                        width: 90%;
                                        height: 20px;
                                        border: none;
                                        outline: none;
                                        background-color: transparent;
                                        color: $D3;
                                        font-size: 10px;
                                        border: 1px solid $D3;
                                        border-radius: 5px;
                                        padding: 0 5px;
                                        &::placeholder {
                                            color: $D3;
                                        }
                                        &:focus {
                                            border: 1px solid $C3;
                                            color: $C3;
                                            &::placeholder {
                                                color: $C3;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .Row {
                        width: 100%;
                        height: $height;
                        @include FlexRowJustifyBetween;
                        .Cell {
                            width: calc(100% / 5);
                            height: 100%;
                            @include FlexRowJustifyStart;
                        }
                        .C1 {
                            width: 10%;
                        }
                        .C2 {
                            width: 20%;
                        }
                        .C3 {
                            width: 30%;
                        }
                        .C4 {
                            width: 25%;
                        }
                        .C5 {
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
}